
<router-outlet></router-outlet>
<button (click)="initNewTask()">Create New Task</button>

<table>
  <thead>
    <th>Name</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Place</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.priority }}</td>
      <td>{{ task.status }}</td>
      <td><button (click)="editTask(task)">Edit</button></td>
    </tr>
  </tbody>
</table>
<div>
  Name:
  <input [(ngModel)]="user.username" placeholder="Name">
</div>
<div>
  Email:
  <input [(ngModel)]="user.email" placeholder="Email">
</div>
<div>
  Password:
  <input [(ngModel)]="user.password" placeholder="Password" type="password">
</div>
<button (click)="register(user)">Register</button>
<button (click)="login(user)">Login</button>
<button (click)="getUsername()">Get Me</button>

<app-task-edit
  [task]="taskToEdit"
  (tasksUpdated)="updateTask($event)"
></app-task-edit>