<div *ngIf="task">
  <h2>{{ task.title }}</h2>
  <div>
    Name:
    <input [(ngModel)]="task.title" placeholder="Title" />
  </div>
  <div>
    First Name:
    <input [(ngModel)]="task.description" placeholder="First Name" />
  </div>
  <div>
    Last Name:
    <input [(ngModel)]="task.priority" placeholder="Last Name" />
  </div>
  <div>
    Place:
    <input [(ngModel)]="task.status" placeholder="Place" />
  </div>
  <button (click)="updateTask(task)" *ngIf="task.id">Save</button>
  <button (click)="deleteTask(task)" *ngIf="task.id">Delete</button>
  <button (click)="createTask(task)" *ngIf="!task.id">Create</button>
</div>