<div class="centered-content">
  <div class="task-manager-container">
    <!-- Sidebar -->
    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        Hello {{ username }}
      </h1>
      <div class="list-menu">
        <a class="list-menu-item" routerLinkActive="is-active">
          <p>Admin view coming soon!</p>
        </a>
      </div>
    </div>

    <!-- Task List Container -->
    <div class="task-list-container has-background-light">
      <div class="top-bar">
        <h1 class="title has-text-primary">Tasks</h1>
        <div class="dropdown is-hoverable is-right">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
              <span class="icon is-small">
                <i class="fas fa-cog" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu4" role="menu">
            <div class="dropdown-content">
              <a (click)="onLogout()" class="dropdown-item has-text-danger">
                Log Out
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Task Elements -->
      <div *ngIf="tasks && tasks.length > 0">
        <div class="task" *ngFor="let task of tasks">
          <div class="task-text" *ngIf="task.userId === loggedInUserId">
            <p>{{ task.title }}</p>
          </div>
          <div class="task-buttons" *ngIf="task.userId === loggedInUserId">
            <button class="button" [routerLink]="['/edit-task', task.id]" [queryParams]="{ task: task }">
              <div class="icon">
                <i class="fas fa-edit"></i>
              </div>
            </button>
            <button (click)="deleteTask(task)" class="button is-danger" style="margin-left: 10px;">
              <div class="icon">
                <i class="fas fa-trash"></i>
              </div>
            </button>
          </div>
        </div>
      </div>

      <!-- Empty State Message -->
      <h3 class="empty-state-text" *ngIf="tasks === null || (tasks.length === 0 && loggedInUserId !== null)">
        There are no tasks here! Click the add button to create a new task.
      </h3>

      <!-- Add Button -->
      <button routerLink="/new-task" class="circle-add-button button is-primary">
        <img src="../../../assets/plus-icon.svg" class="has-text-white">
      </button>
    </div>
  </div>
</div>
